<!DOCTYPE html>
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

        <title>File Upload</title>
    </head>
    <body class="p-3 mb-2 bg-light text-black">
        <div class="container justify-content-center w-50 p-3" style="background-color: #eeeeee; margin-top: 5em;">

            <h1 class="display-5">File Uploader</h1>
            <form action="#" enctype="multipart/form-data" th:action="@{/files}" method="POST" name="uploading">
                <div class="container">
                    <div class="row" style="margin: 1em;">
                        <div class="col-sm-2">
                            <label for="fileUpload">Upload a New File:</label>
                        </div>
                        <div class="col-sm-6">
                            <input type="file" class="form-control-file" id="fileUpload" name="originalFilenameUpload" >
                        </div>
                        <div class="col-sm-4">
                            <button type="submit" name="addUploadFile"  class="btn btn-dark">Upload</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>


    </body>
</html>